@mixin desktop{
    @media(max-width:1024px){
      @content;
    }
  }
@mixin pad{
    @media(max-width:768px){
      @content;
    }
  }
  @mixin mobile{
    @media(max-width:540px){
      @content;
    }
  }

  @mixin fullscreen{
      width: 100vw;
      height: 100vh;
      max-width:100%;
  }

*{
    box-sizing: border-box;
}

body{
    $body_padding: 2.5vw;

    $mobile-wid: 375px;
    $tablet-wid: 768px;
    $web-wid: 1024px;
    
    $icon-size-large: 24px;
    $icon-size-midimn: 18px;
    $icon-size-small: 12px;

    $font-size-title-large: 4rem;
    $font-size-title-midimn: 3rem;
    $font-size-title-small: 2rem;

    $font-family-title: 'Raleway', sans-serif;
    $font-family-content: 'Open Sans', sans-serif;

    $header_bg: transparent;
    $header_color: white;
    $menu_color: rgb(100,100,100);
    $theme-color: #14505C;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    button{
        border: none;
        cursor: pointer;
        transition: 0.5s;
    }
    button:hover{
        transform: scale(1.2);
    }
    @mixin button-main {
        padding: 0.6rem 0.9rem;
        border: none;
        background-color: $theme-color;
        color: $header_color;
        font-family: $font-family-content;
        font-size: $icon-size-midimn;
        margin-top: 1rem;
      }

    //---style header---
    #header{
        position: fixed;
        width: 100vw;
        max-height: auto;
        min-height: 58px;
 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $header_bg;
        color: $header_color;

        #logo{
            margin-left: $body_padding;
        }
        
        #nav{
            margin-right: $body_padding;
            display: flex;
            flex-direction: row;
            gap: 3vw;
            @include mobile{
                visibility: hidden;
            }
        }

        #menu-icon{
            position: absolute;
            right: 0px;
            visibility: hidden;
            @include mobile{
                visibility: visible;
                right: 2.5vw;
                color: $header_color;
                background: $header_bg;
                font-size: $icon-size-large;
            }
        }
    }
    //---style menu---
    #menu{
        position: fixed;
        right: 0px;
        min-width: 200px;
        max-width: 400px;
        height: 100vh;
        background-color: $header_color;
        box-shadow: -5px 0px 15px rgb(46, 46, 46);
        padding: 30px 20px;
        visibility: hidden;

        .menu-item{
            position: relative;
            color: $menu_color;
            width: 100%;
            margin-bottom: 2rem;

            button{
                position: relative;
                float: right;
                background: $header_bg;
            }
            
        }
    }
    //---style content---
    #content{
        @include fullscreen();
        background-image: url(../img/home1.jpg);
        background-repeat: no-repeat;   
        background-position: right 15% top 10%;
        //background-attachment: fixed;
        background-size: cover;
        color: $header_color;

        #content-title{
            position: absolute;
            width:80%;
            height: 80%;
            right:10%;
            bottom:5%;
            //transform: translate(10%,10%);

            p{
                font-family: $font-family-content;
                font-size: 1rem;
            }
            h1{
                font-family: $font-family-title;
                font-weight: 10;
                margin-top: 0;
                font-size:  $font-size-title-large;
                @include pad{
                    font-size:  $font-size-title-midimn;
                }
                @include mobile{
                    font-size:  $font-size-title-small;
                }

                span{
                    font-weight: 600;
                }
            }
            button{
                @include button-main();
            }

            #social-media-links{
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                
                @include mobile{
                    flex-direction: column;
                }
                
                a{
                    color: $header_color;
                }
                .social-media-icon{
                    transition: 0.3s;
                }
                .social-media-icon:hover{
                    transform: translateY(-50%);
                }
            }
            #content-card{
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background:$theme-color;
                width: calc(max(20vw, 20vh));
                height: calc(max(10vw, 10vh));
                padding: 15px;
                font-size: 1rem;
                @include mobile{
                    font-size: 0.75rem;
                }
    
                .card-title{
                    flex-grow: 1;
                    flex-basis: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    span{
                        font-weight: bold;
                    }
                }
                .card-content{
                    flex-grow: 1.25;
                    flex-basis:0;
                    background-image: url(../img/home2.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            } 
        }
    }
    //---style about---
    #about{
        @include fullscreen();
        position: relative;
        padding: 0 10vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        @include pad{
            flex-direction: column;
            gap: 5vh;
        }

        #section-about{
            color: $theme-color;
            button{
                @include button-main();
            }
            @include pad{
                text-align: center;
            }
        }
        #img-about{
            display: flex;
            align-items: center; 
            justify-content: center;
            gap: 1.5vw;

            #img-about-1{
                width: 20vw;
                height: auto;

                @include pad{
                    width: 40vw;
                    height: auto;
                }
            }
            #img-about-2{
                width: 25vw;
                height: auto;
                
                @include pad{
                    width: 50vw;
                    height: auto;
                }
            }
        }
    }
}
