body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body button {
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #header {
  position: fixed;
  width: 100vw;
  max-height: auto;
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: white;
}

body #header #logo {
  margin-left: 2.5vw;
}

body #header #nav {
  margin-right: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3vw;
}

@media (max-width: 540px) {
  body #header #nav {
    visibility: hidden;
  }
}

body #header #menu-icon {
  position: absolute;
  right: 0px;
  visibility: hidden;
}

@media (max-width: 540px) {
  body #header #menu-icon {
    visibility: visible;
    right: 2.5vw;
    color: white;
    background: transparent;
    font-size: 24px;
  }
}

body #menu {
  position: fixed;
  right: 0px;
  min-width: 200px;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: -5px 0px 15px #2e2e2e;
          box-shadow: -5px 0px 15px #2e2e2e;
  padding: 30px 20px;
  visibility: hidden;
}

body #menu .menu-item {
  position: relative;
  color: #646464;
  width: 100%;
  margin-bottom: 2rem;
}

body #menu .menu-item button {
  position: relative;
  float: right;
  background: transparent;
}

body #content {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/home1.jpg);
  background-repeat: no-repeat;
  background-position: right 15% top 10%;
  background-size: cover;
  color: white;
}

body #content #content-title {
  position: relative;
  padding-left: 10vw;
  padding-top: 20vh;
}

body #content #content-title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

body #content #content-title h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 10;
  margin-top: 0;
  font-size: 4rem;
}

@media (max-width: 768px) {
  body #content #content-title h1 {
    font-size: 3rem;
  }
}

@media (max-width: 540px) {
  body #content #content-title h1 {
    font-size: 2rem;
  }
}

body #content #content-title h1 span {
  font-weight: 600;
}

body #content #content-title button {
  padding: 0.6rem 0.9rem;
  border: none;
  background-color: #14505C;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body #content #content-title #social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 540px) {
  body #content #content-title #social-media-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body #content #content-title #social-media-links a {
  color: white;
}

body #content #content-title #social-media-links .social-media-icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #content #content-title #social-media-links .social-media-icon:hover {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body #content #content-card {
  width: 300px;
  height: 120px;
  background: #14505C;
  position: absolute;
  bottom: 5%;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px;
  font-size: 1.2rem;
  line-height: 1.25rem;
}

@media (max-width: 768px) {
  body #content #content-card {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    right: -30px;
  }
}

@media (max-width: 540px) {
  body #content #content-card {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

body #content #content-card .card-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

body #content #content-card .card-title span {
  font-weight: bold;
}

body #content #content-card .card-content {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  background-image: url(../img/home2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */